.grid-container {
    display: grid;
    grid-row-gap: 10px;
    grid-template-columns: 200px auto auto auto auto;
    padding: 10px;
    color: white;
  }
  
  .grid-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  .grid-item a{
    text-decoration:none;
    color:inherit;
    font-size:14px;
  }

  .logo{
      background-image: url('../assets/Logos/Logoindex.png');
      background-size:cover;
      width: 100px;
      height: 100px;
  }

nav {
margin-top: -20px;
}

nav a{
    text-decoration:none;
    color:inherit;
    font-size:14px;
    } 
    nav li{
    display:inline-block;
    width:10%;
    padding:5px 10px;
    text-align:center;
    color:#fff;
    }
    nav li:hover{
    background-color:#fff;
    color:#000;
    }