@import 'var';

.main-container-roi{
  position: relative;
  width: 100%;
  min-width: 320px;
  height: auto;
  padding-top: 20px;
  padding-bottom: 30px;
  text-align: center;
  }

  .article-roi{
    margin: 0 auto;
    width: 70%;
    max-width: 360px;
    min-width: 280px;
    min-height: 150px;
    max-height: 400px;
    overflow-y: auto;
  }

.main-container-roi h1 {
    font-size: 2.2rem;
    font-weight: bold;
    line-height: 1.6rem;
    color: white;
    margin-bottom: 25px;
    font-family: var(--poppins);
  }
  
  .main-container-roi h2 {
    font-size: 2.6rem;
    font-weight: bold;
    line-height: 2rem;
    color: var(--soft-orange);
    font-family: var(--poppins);
  }
  
  .main-container-what p{
    margin-bottom: 30px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: white;
    font-family: var(--poppins);
  
  }

  @media (min-width: 1200px){
    .container-articles-roi {
        display: flex;
        flex-wrap: wrap;
        width: 1280px;
        margin: 0 auto;
    }
}