@import 'var';

.main-plans-container{
    width: 100%;
    min-width: 320px;
    padding: 65px 0;
    text-align: center;
    background-color: black;
  }
  
  .plans-title{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: auto;
    margin:0 auto;
  }
  
  .plans-title  h2{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: white;
  }
  
  .plans-title p{
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: gray;
  }
  
  .plans-container-slider{
    display: flex;
    gap: 12px;
    height: 380px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    overflow-y: hidden;
  }
  
  .plans-container-card{
    position: relative;
    scroll-snap-align: center;
    width: 65%;
    min-width: 190px;
    max-width: 320px;
    height: 280px;
    margin: 50px auto 0px;
    /*margin: 50px 15px 0px  en vez de gap*/
    padding: 0 15px;
    background-color: #282623;
    border-radius: 15px;
    box-shadow: 3px 3px 3px 3px rgb(159 123 27 / 75%);
  }
  
  .plans-container-card .recommended{
    position: absolute;
  top: -15px;
  left: calc(50% - 50px);
    display: block;
    width: 120px;
    height: 30px;
    padding: 5px;
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--just-white);
    background-color: var(--bitcoin-orange);
    border-radius: 5px;
    box-shadow: 3px 3px 3px 3px rgba(89, 73, 30, 0.16);
  }
  
  .plan-card-title{
    padding-top: 30px;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: white;
  
  }
  
  .plan-card-price{
    margin: 0 auto;
    padding: 5px;
    font-size: 5.3rem;
    font-weight: bold;
    line-height: 5rem;
    color: white;
  }
  .plan-info-container span{
    font-size: 1.2rem;
    font-weight: 300;
  }
  
  .plan-card-saving{
    font-size: 1.2rem;
    color:gray;
  }
  
  .plan-card-button{
    width: 150px;
    height: 48px;
    margin-top: 20px;
    background-color: orange;
    border: 2px solid var(--soft-orange);
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: black;
    font-family: 'DM Sans', sans-serif;
  }
  
  .plan-card-button span{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('../assets/icons/orange-right-arrow.svg');
    background-repeat: no-repeat;
    vertical-align: text-bottom;
  }