.item1 { grid-area: win; }
.item2 { grid-area: loses; }
.item3 { grid-area: avg; }
.item4 { grid-area: trades; }
.item5 { grid-area: roi; }

.grid-container-tableroi {
  display: grid;
  grid-template-areas:
    'win loses'
    'avg trades'
    'roi roi';
  grid-gap: 10px;
  background-color: black;
  color: white;
  padding: 10px;
}

.grid-container-tableroi > div {
  background-color: #a5a3a3;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  border-radius: 5px;
}