
.main-container-use{
    width: 100%;
    height: auto;
    text-align: center;
    background-color: #282623;
  }
  
  
  .main-container-use-background{
    background-color: black;
    padding: 60px;
  }

  .main-container-use-title {
    width: 100%;
    min-width: 288px;
    max-width: 950px;
    margin: 0 auto;
    font-family: "Poppins";
    text-align: left;
  }

  
  
  .main-container-use h1 {
    font-size: 2.2rem;
    font-weight: bold;
    line-height: 1.6rem;
    color: white;
    margin-bottom: 25px;
    font-family: 'Poppins', sans-serif;
  }
  
  .main-container-use h2 {
    font-size: 2.6rem;
    font-weight: bold;
    line-height: 2rem;
    color: orange;
    font-family: 'Poppins', sans-serif;
  }
  
  .main-container-use p{
    margin-bottom: 30px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: white;
    font-family: 'Poppins', sans-serif;
  
  }

  .grid-exchanges {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: black;
    padding: 10px;
    text-align: center;
    justify-content: center;
    overflow-x: auto;
  }
  .grid-exchange {
    width: 150px;
    height: 150px;
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 30px;
    text-align: center; 
  }

  .grid-exchange img{
    background-size:cover;
    width: 140px;
    height: 140px;
}

@media only screen and (min-width: 500px) {
  .main-container-use-background{
    padding: 20px;
  }
}

@media (min-width: 1200px) {

  
  .section-exchange{
    display: inline-blocks;
    flex-wrap: wrap;
    width: 900px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .main-product-container .product-article {
    margin-bottom: 20px;
    max-width: 400px;
  }
  
  .plans-container-slider{
    justify-content: center;
  }
  }