.logo-container {
  display: block;
  width: 90%;
  margin: 0px auto;
  padding-top: 15px;
  padding-bottom: 0px;
}
.logo-container img {
  width: 80%;
  height: auto;
  max-width: 450px;
}

ul.main-menu {
  padding: 0px;
  margin: 10px auto;
}

ul.main-menu li {
  display: inline-block;
  margin: 0px auto;
  color: white;
  font-size: 20px;
  margin: 0% 2%;
}

ul.main-menu li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  text-shadow: 0px 0px 3px transparent;
}

ul.main-menu li a:hover {
  color: black;
  text-shadow: 0px 0px 3px white;
}

@media only screen and (min-width: 930px) {
  .logo-container {
    display: inline-block;
    width: 45%;
    vertical-align: middle;
    text-align: center;
  }

  .menu-container {
    display: inline-block;
    width: 55%;
    vertical-align: middle;
  }

  ul.main-menu li a {
    font-size: 18px;
  }
  .logo-container img {
    width: 100%;
  }
}
