@import 'var';

.main-container-roi {
  position: relative;
  width: 100%;
  min-width: 320px;
  height: auto;
  margin: 0px auto;
  margin-top: 10%;
  padding-top: 20px;
  padding-bottom: 30px;
  text-align: center;
}

.article-roi {
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
  min-width: 280px;
  min-height: 150px;
  max-height: 450px;
  display: inline-block;
  height: 600px;
  align-content: flex-start;
}

.twitter-timeline {
}

.table-roi-container {
}

.main-container-what-title {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;
  font-family: 'Poppins';
  text-align: left;
}

.main-container-roi h1 {
  font-size: 2.2rem;
  font-weight: bold;
  line-height: 1.6rem;
  color: white;
  margin-bottom: 25px;
  font-family: 'Poppins', sans-serif;
}

.main-container-roi h2 {
  font-size: 2.6rem;
  font-weight: bold;
  line-height: 2rem;
  color: var(--soft-orange);
  font-family: 'Poppins', sans-serif;
}

.main-container-what p {
  margin-bottom: 30px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.6rem;
  color: white;
  font-family: 'Poppins', sans-serif;
}

@media (min-width: 1200px) {
  .container-articles-roi {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
  }

  .main-container-roi {
    width: 1200px;
  }
}
