.roadmap-container {
  display: flex;
  justify-content: center;
  border-bottom: 20px solid white;
  background: rgb(34, 34, 34);

  background: linear-gradient(170deg, rgba(248,149,33,1), rgb(34, 34, 34), rgb(34, 34, 34), rgb(34, 34, 34), rgb(34, 34, 34),rgb(34, 34, 34), rgba(248,149,33,1) );
  img {
    max-width: 100vw;
  }
}

////media queries

@media (min-width: 0px) and (max-width: 600px) {
  .roadmap-container {
    display: flex;
    justify-content: center;
    img {
      max-width: 90vw;
    }
  }
}
