.item1 {
  grid-area: win;
}
.item2 {
  grid-area: loses;
}
.item3 {
  grid-area: avg;
}
.item4 {
  grid-area: trades;
}
.item5 {
  grid-area: roi;
}

.grid-container-tableroi {
  display: grid;
  grid-template-areas:
    'win loses'
    'avg trades'
    'roi roi';
  grid-gap: 10px;
  color: white;
  padding: 10px;
  overflow: hidden !important;
}

.grid-container-tableroi > div {
  background-color: #42403c;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  border-radius: 5px;
}

.tableroi-sqare {
  text-align: left;
  padding-left: 20px;
  font-size: 1.2rem;
  font-weight: bold;
}

.tableroi-center {
  font-size: 2.2rem;
  font-weight: bold;
}
