.thanks-container {
  min-height: 102vh;
  margin-top: -19.92px;
  color: white;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  &-aux {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    &-texts {
      font-size: 4rem;
      text-align: center;
      p:nth-child(2) {
        font-size: 3rem;
      }
      img {
        max-width: 150px;
        inherits: none;
      }
    }
  }
}

#big-image {
  max-width: 600px;
  border-radius: 50px 10px 50px 10px;
  box-shadow: 0px 4px 8px rgb(131 129 124 / 75%);
  border: 1px solid gray;
}

