.main-container-verify{
    width: 90%;
    height: auto;
    padding-top: 50px;
    padding-bottom: 30px;
    text-align: center;
    background-color: #282623;
    border-radius: 60px;
    margin: 50px auto 0px;
  }
  
  .main-container-verify-title{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin:0 auto;
    font-family: 'Poppins';
  }
  
  .main-container-verify h1 {
    font-size: 2.2rem;
    font-weight: bold;
    line-height: 1.6rem;
    color: white;
    margin-bottom: 25px;
    font-family: 'Poppins', sans-serif;
  }
  
  .main-container-verify h2 {
    font-size: 2.6rem;
    font-weight: bold;
    line-height: 1.6rem;
    color: white;
    font-family: 'Poppins', sans-serif;
  }
  
  .main-container-verify p{
    margin-bottom: 30px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: white;
    font-family: 'Poppins', sans-serif;
  
  }