.App {
  /*text-align: center;*/
  background-color: black;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;

}


@media only screen and (min-width: 930px) {
  .App-header {
    height: 90vh;
  }
}

