.App {
  /*text-align: center;*/
  background-color: black;
}

.App-header {
  position: relative;
  display:flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 50vh;
  min-width: 320px;
  text-align: center;
  background-image: url('./assets/imgheader.jpg');
  background-position: center;
  background-size: cover;
  border-radius: 0px 0px 180px 0px;
}

.header-container{
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 218px;
  margin-top: 40px;
  text-align: center;
  align-self: center;
}

.header--title-container{
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 218px;
  margin-top: 40px;
  text-align: center;
  align-self: center;
}

.header--title-container .header--button{
  position: absolute;
    top: calc(100% - 50px);
    left: calc(50% - 114.5px);
    display: block;
    margin-top: 20px;
    padding: 10px;
    width: 250px;
    height: 28px;
    background-color: #0000006b;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgb(215 168 42 / 57%);
    border: none;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.main-container-what{
  width: 100%;
  height: auto;
  padding-top: 50px;
  padding-bottom: 30px;
  text-align: center;
  background-color: black;
}

.main-container-what-title{
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin:0 auto;
  font-family: 'Poppins';
  text-align: left;
}

.main-container-operate-title{
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin:0 auto;
  font-family: 'Poppins';
  text-align: right;
}

.main-container-what h1 {
  font-size: 2.2rem;
  font-weight: bold;
  line-height: 1.6rem;
  color: white;
  margin-bottom: 25px;
  font-family: 'Poppins', sans-serif;
}

.main-container-what h2 {
  font-size: 2.6rem;
  font-weight: bold;
  line-height: 2rem;
  color: orange;
  font-family: 'Poppins', sans-serif;
}

.main-container-what p{
  margin-bottom: 30px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.6rem;
  color: white;
  font-family: 'Poppins', sans-serif;

}

.main-container-verify{
  width: 90%;
  height: auto;
  padding-top: 50px;
  padding-bottom: 30px;
  text-align: center;
  background-color: #282623;
  border-radius: 60px;
  margin: 50px auto 0px;
}

.main-container-verify-title{
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin:0 auto;
  font-family: 'Poppins';
}

.main-container-verify h1 {
  font-size: 2.2rem;
  font-weight: bold;
  line-height: 1.6rem;
  color: white;
  margin-bottom: 25px;
  font-family: 'Poppins', sans-serif;
}

.main-container-verify h2 {
  font-size: 2.6rem;
  font-weight: bold;
  line-height: 1.6rem;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.main-container-verify p{
  margin-bottom: 30px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.6rem;
  color: white;
  font-family: 'Poppins', sans-serif;

}

.main-container-use{
  width: 100%;
  height: auto;
  text-align: center;
  background-color: #282623;
}


.main-container-use-background{
  background-color: black;
  border-bottom-left-radius: 168px;
  padding: 60px;
}

.main-container-use h1 {
  font-size: 2.2rem;
  font-weight: bold;
  line-height: 1.6rem;
  color: white;
  margin-bottom: 25px;
  font-family: 'Poppins', sans-serif;
}

.main-container-use h2 {
  font-size: 2.6rem;
  font-weight: bold;
  line-height: 2rem;
  color: orange;
  font-family: 'Poppins', sans-serif;
}

.main-container-use p{
  margin-bottom: 30px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.6rem;
  color: white;
  font-family: 'Poppins', sans-serif;

}

.main-exchange-container{
  width: 100%;
  height: auto;
  padding-top: 40px;
  padding-bottom: 30px;
  text-align: center;
  background-color: #282623;
  border-radius: 0px 150px 100px 100px;
}

.main-exchange-container-title{
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin:0 auto;
}

.exchange-container-img{
  width: 100%;
  min-width: 230px;
  max-width: 300px;
  height: 100vh;
  overflow-y: scroll;
  margin: 0 auto;
  background-image: url("./assets/Logos/timeline2.png");
  background-size: cover;
}


.table-currency-container{
  width: 90%;
  min-width: 230px;
  max-width: 300px;
  height: 250px;
  margin: 0 auto;
}

.main-table-container{
  padding-top: 20px;
}

.main-table-currency{
  width: 70%;
  min-width: 235px;
  max-width: 500px;
  height: 360px;
  margin: 0 auto;
  font-family: 'Inter', sans-serif;
  font-size: 2.4rem
}

.main-table-currency .table-title{
  margin-bottom: 30px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.3rem;
  color : var(--bitcoin-orange)
}

.table-currency-container table{
  width: 100%;
  height: 100%;
}

.table-currency-container th{
  width: 50%;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.9rem;
  color: orange;
}

.table-currency-container td{
  width: 50%;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9rem;
  color: white;
  background-color: var(--black);
  
}

.table-currency-container .table_top-left{
  border-radius: 15px 0 0 0;
}

.table-currency-container .table_bottom-left{
  border-radius: 0 0 15px 0;
}

.table-currency-container .table_bottom-left{
  border-radius: 0 0 0 15px;
}

.table-currency-container .table_top-right{
  border-radius: 0 15px 0 0;
}
.table-currency-container .table_bottom-right{
  border-radius: 0 0 15px 0;
}

.table-currency-container .table_right{
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.7rem;
  color: white;
}

.table-icon-down{
  width: 13px;
  height: 8px;
  display: inline-block;
  background-image: url('./assets/icons/trending-down.svg');
  background-position: center;
  background-repeat: no-repeat;
}
.table-icon-up{
  width: 13px;
  height: 8px;
  display: inline-block;
  background-image: url('./assets/icons/trending-up.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.currency-date{
  width: 244px;
  height: 30px;
  margin: 0 auto;
  padding: 8px;
  border-radius: 8px;
  background-color: orange;
}

.currency-date p {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 0.5rem;
  color: var(--warm-black);
}

.main-plans-container{
  width: 100%;
  min-width: 320px;
  padding: 65px 0;
  text-align: center;
  background-color: black;
}

.plans-title{
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: auto;
  margin:0 auto;
}

.plans-title  h2{
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: white;
}

.plans-title p{
  padding-top: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6rem;
  color: gray;
}

.plans-container-slider{
  display: flex;
  gap: 12px;
  height: 380px;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
  overflow-y: hidden;
}

.plans-container-card{
  position: relative;
  scroll-snap-align: center;
  width: 65%;
  min-width: 190px;
  max-width: 320px;
  height: 280px;
  margin: 50px auto 0px;
  /*margin: 50px 15px 0px  en vez de gap*/
  padding: 0 15px;
  background-color: #282623;
  border-radius: 15px;
  box-shadow: 3px 3px 3px 3px rgb(159 123 27 / 75%);
}

.plans-container-card .recommended{
  position: absolute;
top: -15px;
left: calc(50% - 50px);
  display: block;
  width: 120px;
  height: 30px;
  padding: 5px;
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--just-white);
  background-color: var(--bitcoin-orange);
  border-radius: 5px;
  box-shadow: 3px 3px 3px 3px rgba(89, 73, 30, 0.16);
}

.plan-card-title{
  padding-top: 30px;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: white;

}

.plan-card-price{
  margin: 0 auto;
  padding: 5px;
  font-size: 5.3rem;
  font-weight: bold;
  line-height: 5rem;
  color: white;
}
.plan-info-container span{
  font-size: 1.2rem;
  font-weight: 300;
}

.plan-card-saving{
  font-size: 1.2rem;
  color:gray;
}

.plan-card-button{
  width: 150px;
  height: 48px;
  margin-top: 20px;
  background-color: orange;
  border: 2px solid var(--bitcoin-orange);
  border-radius: 4px;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: black;
  font-family: 'DM Sans', sans-serif;
}

.plan-card-button span{
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('./assets/icons/orange-right-arrow.svg');
  background-repeat: no-repeat;
  vertical-align: text-bottom;
}


footer{
  display: flex;
  width: 100%;
  height: 130px;
  background-color: orange;
}

footer section{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .footer-left ul{
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.8rem;
  list-style: none;
}

.footer-left li{
  margin: 10px 0;
}

.footer-left a{
  text-decoration: none;
  color: var(--just-white);
}

.footer-rigth img{
  width: 25%;
}

@media only screen and (min-width: 930px) {
  .App-header {
    height: 90vh;
  }
}

