.App {
  /*text-align: center;*/
  background-color: #121212;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
}

body {
  overflow-x: hidden;
  width: 100%;
  min-width: fit-content;
}

h2.first-word {
  color: white;
}

h2.second-word {
  color: #f89521;
}

h2.tabbed-left {
  padding-left: 10%;
}
h2.tabbed-right {
  padding-right: 10%;
}

.title-container {
  padding: 0px 10% 20px 10%;
  max-width: 1280px;
  margin: 0px auto;
}

.title-container-vaiant {
  padding: 0px 10% 20px 10%;
  max-width: 1280px;
  margin: 0px auto;
}

.title-right h2 {
  text-align: right;
}
.title-left h2 {
  text-align: left;
}

h2 {
  font-size: 2.6rem;
  font-weight: bold;
  line-height: 2.6rem;
  margin: 20px;
}


body::-webkit-scrollbar {
  width: 0.5em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #121212;
}
 
body::-webkit-scrollbar-thumb {
  background-color: orange;
  /* outline: 1px solid slategrey; */
  border-radius: 10px;
}

@media (max-width: 768px) {
  h2 {
    text-align: center !important;
    font-size: 2.2em !important;
    padding-left: 0% !important;
    padding-right: 0% !important;
    margin: 12.5px 0px;
  }

  .title-container {
    padding: 0px;
  }
  .title-container-variant {
    padding: 0px;
  }
}

